<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div >
        <div class="profile justify-center transition duration-300 hover:shadow-xl cursor-pointer text-center rounded-3xl items-center h-64 bg-blue-300 p-8 flex flex-col">
            <h1>POST</h1>
            <h2> title : <%= post.title%></h2>
            <h4> text : <%= post.body%></h4>
        </div>
    </div>
    <div class="container p-6 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <% comments.forEach(comment=>{ %>
            <div class="profile justify-center transition duration-300 hover:shadow-xl cursor-pointer text-center rounded-3xl items-center h-64 bg-blue-300 p-8 flex flex-col">
                <h1>Comments</h1>
                <h2> title : <%= comment.name%></h2>
                <h4> text : <%= comment.body%></h4>
            </div>
        <%})%>
    </div>
</body>
</html>